# Ignore virtual environments, notebook checkpoints, and caches.
.venv/
.ipynb_checkpoints/
__pycache__/

# Ignore URL dataset.
saved_data/datasets/

# Ignore random search objects and models but include empty directory.
saved_data/trained_models/*.pkl